{% extends "base.html" %}
{% block title %}- Пользователь{% endblock %}
{% block content %}

<h3>{{user.name}}</h3>

<div style="position:relative">
<div id="ticket_form">

<form method="post" action="{{ form_action }}">
    {{form.errors}}
    <table>
	{% for field in form.visible_fields %}
        <tr>
		
		<td>{{field.label_tag}}
		<td>{{field}}

        </tr>
	{% endfor %}

<!--	{% if user.id %}
    <input type="hidden" name="user_id" value="{{user.id}}"/>
    {% endif %}-->
    <tr>
    <td colspan="2" class="form-bottom">
        <input type="button" value="Отмена" onclick="history.back()"/>
        <input type="submit" value="Сохранить"/>
    </td>
    </tr>
    </table>
</form>
</div>
</div>
{% endblock %}